@charset "UTF-8";

#articleForm {
	margin: 200px 150px 200px 150px;
}

h1 {
	text-align: left;
}

.left {
	float: left;
}

.right {
	float: right;
}

.tbl_row {
	margin: 10px;
	border: 1px solid black;
	border-radius: 10px;
	width: 600px;
	height: 150px;
}

.pay {
	width: 310px;
}
.tbl_row_right {
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	width: 300px;
	height: 150px;
	
}

.btn_fold {
	border: 0;
	background-color: transparent;
}