@charset "UTF-8";
html, body {
	overflow-x:auto;
	overflow-y:auto;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px; 
    background-color: white;
/*     z-index: 1000; 
상단에 위치하도록 설정 */
}

body {
	min-height: 100vh;
	
}
#articleForm {
	width: 1280px;
	display: flex;
	justify-content: space-between;
/* 	gap: 20px; */
    margin: 250px auto;
/*     overflow-x:auto; */
/*     overflow-y:scroll; */
/* 	overflow-y:hidden; */
/*     padding: 40px 0 0 0; */
}


/*탭메뉴*/
.left, .right {
            width: 100px; /* 원하는 너비를 설정 */
            height: 100%; 
        }



 .left { 
/*  	display:flex; */
/*  	gap: 20px; */
/*  	float:left;  */
/*  	margin: 5px 2px 5px 200px; */
/*  	display: table; */
/*  	width: auto; */
position: sticky;
    top: 140px;
    float: left;
    width: 500px;
} 

.img {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.right {
/* 	float: right; */
/* 	padding: 5px 50px 5px 2px; */
/*     padding: 15px 0 30px 40px; */
/*  	width: auto; */

	position: relative;
    float: right;
    width: 350px;
}

/*  .img {  */
/* 	margin: 30px 30px 30px 30px; */
/*  }  */
.bigImage { /* 큰 사진 표시영역*/
	margin-bottom: 10px; /* 아래쪽 여백*/
}

.bigImage img { /* 큰 사진 표시영역*/
	object-fit:cover;
}


#big { /* 큰 사진*/
	width: 300px;
	height: 300px;
}


#small { /* 작은 사진들*/
	width: 100px;
	height: 80px;
}




 .left { 
 	float:left; 
 	margin: 5px 2px 5px 200px;
} 

.right {
	float: right;
	padding: 5px 50px 5px 2px;
/*     padding: 15px 0 30px 40px; */
}

/*  .img {  */
/* 	margin: 30px 30px 30px 30px; */
/*  }  */
.bigImage { /* 큰 사진 표시영역*/
	margin-bottom: 10px; /* 아래쪽 여백*/
}

#big { /* 큰 사진*/
	width: 300px;
	height: 300px;
}


#small { /* 작은 사진들*/
	width: 100px;
	height: 80px;
}

