@charset "UTF-8";

body {
	background-color: #f4f4fa;
	margin: 0px;
}

/*top 해당 부분 숨김. top은 웹소켓 연결 위해 두기에 공간 절약을 위해 숨김*/
.header_top {
	display : none;
}

.header_main {
	display : none;
}

/* 배경 */
#chatListBody {
	width: 100%; /* 부모 요소 기준으로 가득 참*/
	height: 100%; /* 부모 요소 기준으로 가득 참*/
}

.chatTitle {
	width: 100%; /* 부모 요소 기준으로 가득 참*/
	height: 45px; /* 높이*/
	text-align:center; /* 중앙정렬 */
	background-color: rgb(255, 255, 255);
	border-bottom: solid 2.2px #0a58ca; /* solid : 테두리 스타일 실선, px 굵기, 색상*/
}

.titleText {
	padding-top: 13px; /* 패딩 상위 여백*/
	font-size: 14px;
	font-weight: bold; /* 글자 굵게*/
}

/*채팅방 목록*/
.chatRoomList {
	width: 100%;
    z-index: 1;
    height: 5rem;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255);
    color: rgb(94, 92, 107);
    border: none;
}

/*채팅방 목록 마우스 올렸을 때 */
.chatRoomList:hover {
    cursor: pointer;
    background: rgb(234, 233, 241);
}

.chatRoomList {
	display: block;
	width: 100%;
	text-align: left;
	justify-content: space-between;
}
.message {
	display: flex;
}


.message-avatar {
	margin-left: 20px;
	justify-content: space-between;
    left: 30px;
    top: 50%;
    transform: translateY(10%);
}

.message-avatar img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.message-body {
	justify-content: space-between;
	margin-left: 30px;
    font-size: 15px;
    color: #62748F;
    width: 100%;
}

.message-body-heading {
	display: block;
    unicode-bidi: isolate;
}

.message-body-heading h5 {
	width: 100%;
    font-weight: 500;
    display: inline;
    color: #62748F;
    margin: 0 0 7px 0;
    padding: 0;
}

.message-body-heading span {
    float: right;
    margin-right: 20px;
    color: #62748F;
    font-size: 14px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}