@charset "UTF-8";

/* 섹션 스타일 */
section {
    margin: 20px auto;
    padding: 60px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* h1 및 h3 제목 스타일 */
h1 {
    font-size: 28px;
    color: #34495E;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #555;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 16px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
}

table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    text-align: center;
}

table td {
    text-align: center;
}

/* 버튼 스타일 */
input[type="button"] {
    padding: 10px 20px;
    background-color: #34495E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


/* 섹션 내의 div 정렬 */
div {
    text-align: center;
}

/* 페이지 여백 추가 */
section div {
    margin: 0 auto;
    max-width: 700px;
}
