@charset "UTF-8";

/* .layer_box { */
/* 	display: none; */
/* } */
#alarmList {
	padding-inline-start: 10px;
}

#top_link1 {
	cursor: pointer;
}
.layer_box {
/* 	float: left; */
	position: relative;
	display: inline-block;
/* 	top: 28px; */
/* 	left: -13px; */
}

.box_content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : 200px;
}

.box_content a{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 12px;
  padding : 12px 20px;
}

.box_content a:hover{
  background-color : #ececec
}

.alarmItem:hover{
  background-color : #ececec
}

.layer_box .box_content {
  display: block;
}

.layer_box::before {
    left: 13px;
}
.layer_box::before {
    content: "";
    display: block;
    position: absolute;
    top: -13px;
/*     background-image: url(https://pm.pstatic.net/resources/asset/sp_main.89f0d213.png); */
    background-size: 434px 422px;
    background-position: -165px -114px;
    background-repeat: no-repeat;
    width: 22px;
    height: 13px;
}

/*알람 수신 시 빨간 점 표시*/
#alarmPoint {
	color: red;
	font-size: 15px;
    position: absolute;
/*     right: -9px; */
    top: 0.5px;
}


/* ---------- 알람창 크기조절 ----------------- */
.alarmArticle {
	width: inherit;
	min-height: 100%;
	background-color: #f4f6f8;
	border: 3px solid #f4f6f8;
    border-radius: 20px;
    z-index: 2;
}
.alarmContainer {
	margin: auto;
/* 	max-width: 300px; */
	padding: 15px;
	cursor: auto;
    z-index: 2;
}
.alarmContentArea {
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	width: 320px;
    min-height: 380px;
        z-index: 2;
}
.alarmTitleArea {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
	    z-index: 2;
}
.alarmTitle {
	font-weight: bold;
	margin-left: 5px;
	font-size: 20px;
	    z-index: 2;
}
.moreAlarm {
	text-decoration: none;
	color: #555;
	font-size: 14px;
	    z-index: 2;
}




.alarmTitle {
	font-size: 17px;
	text-decoration: none;
	color: black;
	    z-index: 2;
}


/*알람 목록 시간*/
.alarmTime {
	padding-left: 5px;
	font-size: 12px;
	color: #aaa;
	    z-index: 2;
}

.alarmContent {
	font-size: 15px;
	color: gray;
	padding-left: 5px;
	max-width: 330px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
        z-index: 2;
}
