<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.retech_proj.mapper.ChatMapper">
	<!-- 자신의 채팅방 목록 조회 - SELECT -->
	<!-- 
    송신자, 수신자 2개가 테이블 상에서 1개의 컬럼(user_id)으로 2개의 레코드에 나누어져 있음
    이 때, 기본 user_id 가 sender_id 파라미터값인 레코드를 찾아 user_id 컬럼값을 sender_id 로 표기하고(AS)
    수신자 아이디는 서브쿼리를 활용해야한다!
    => 각 룸 아이디가 동일한 레코드의 user_id 값이 송신자 아이디(또는 c.user_id) 값과 다른 레코드를 찾아
       user_id 컬럼값을 receiver_id 로 표기
	-->
	<select id="selectChatRoomList" resultType="chatRoom">
	
	</select>
	

</mapper>