<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.retech_proj.mapper.MemberMapper">
	<!-- 회원가입 insert -->
	<insert id="insertMember">
		INSERT 
		INTO member
		VALUES (
			  #{member_id}
			, #{member_nickname}
			, #{member_passwd}
			, #{member_name}
			, #{member_birth}
			, #{member_phone}
			, 1   	                    -- 회원 상태 (1: 회원, 0: 탈퇴회원)
			,'N'						-- 이메일 인증 상태 (Y: 인증됨, N: 인증되지 않음)
			, #{member_postcode}
			, #{member_address1}
			, #{member_address2}
			, #{member_profile}			-- 프로필 사진 
			, '0'						-- 관리자 여부 (1: 관리자, 0: 일반 사용자)
			, now()
		)
	</insert>
	
	<!-- mybatis-config.xml 에 typeAlias 설정 MemberVO => member -->
	<select id="selectMember" resultType="member">
		select *
		from member
		where member_id = #{member_id}
	</select>
	
	<!-- 회원 정보 수정 --> 
	<update id="updateMember">
		UPDATE member 
		SET
			member_postcode = #{member_postcode}
			,member_address1 = #{member_address1}
			,member_address2 = #{member_address2}
			,member_passwd = #{member_passwd}
			,member_phone = #{member_phone}
			,member_profile = #{member_profile}
		WHERE
			member_id = #{member_id}		
	</update>
	
	<!-- 회원 탈퇴 -->
	<update id="updateWithdrawMember">
		UPDATE member
		SET
			member_status = '탈퇴'
		WHERE
			member_id = #{member_id}
	</update>
	
	<!-- 회원 아이디 찾기 -->
	<select id="selectMemberSearchId" resultType="member">
	    SELECT *
	    FROM member
	    WHERE 
	        member_name = #{member_name} 
	        AND member_birth = #{member_birth}
	        AND member_phone = #{member_phone}
	</select>
	
	<!-- 회원 비밀번호 찾기 -->
	<select id="selectId" resultType="member">
		SELECT *
		FROM member
		WHERE member_id = #{member_id}
	</select>
	
	<!-- 회원 비밀번호 수정 - UPDATE -->
	<update id="updatePasswd">
		UPDATE member
		SET 
			member_passwd = #{member_passwd}
		WHERE  
			member_id = #{member_id}
	</update>
	
	<!-- 전화번호로 회원 정보 조회 -->
	<select id="selectTel" resultType="member">
		SELECT *
		FROM member
		WHERE 
			member_phone = #{member_phone}
	</select>
	
	<!-- 전화번호와 회원 ID로 회원 정보 조회 -->
	<select id="selectByPhoneAndId" parameterType="map" resultType="member">
	    SELECT *
	    FROM member
	    WHERE 
	        member_phone = #{phoneNumber}
	    <if test="memberId != ''">
	        AND member_id = #{memberId}
	    </if>
	</select>
	
	<!-- 회원 아이디 조회(채팅용) -->
	<select id="selectMemberId" resultType="string">
		SELECT member_id
		FROM member
		WHERE member_id = #{receiver_id}
	</select>
	
	<!-- 회원 상세 정보 조회 -->
    <select id="selectMemberById" parameterType="String" resultType="com.itwillbs.retech_proj.vo.MemberVO">
        SELECT *
        FROM member
        WHERE member_id = #{memberId}
    </select>
	
</mapper>
