<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.retech_proj.mapper.ProductMapper">
	
	<!-- 리테크 상품 목록 조회작업 -->
	<select id="selectProductList" resultType="com.itwillbs.retech_proj.vo.ProductVO">
		SELECT
			*
		FROM
			product
		ORDER BY
			pd_reg_date DESC
			
	</select>
	
	<!-- 리테크 상품 목록 개수 조회작업(페이징) -->
	<select id="selectProductListCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			product
	</select>
	
	



</mapper>