<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.retech_proj.mapper.ProductMapper">
	
	<!-- 리테크 상품 등록하기 -->
	<insert id="insertProduct">
		INSERT INTO
			product
		VALUES (
			null								-- pd_idx
			, #{pd_price}						-- 상품 가격
			, #{pd_subject}
			, #{pd_content}
			, now()								-- 작성일 (pd_first_date)
			, null								-- 등록일 (pd_update_date)
			, 0									-- 조회수 (pd_readcount)
			, pd_idx + 1						-- re_ref
			, '판매중'							-- 상품상태(pd_status)
			, #{member_id}						-- 상품 작성자
			, #{pd_category}					-- 상품 카테고리(공통코드)
			, #{pd_image1}
			, #{pd_image2}
			, #{pd_image3}
			, #{pd_image4}
			, #{pd_image5}
		)
	</insert>
	<!-- 리테크 상품 목록 조회작업 -->
	<select id="selectProductList" resultType="com.itwillbs.retech_proj.vo.ProductVO">
		SELECT
			*
		FROM
			product
		ORDER BY
			pd_first_date DESC
	</select>
		<!-- 중고상품 목록 조회작업 -->
	<!-- 해당카테고리 조회 작업으로 뷰 생성 SECONDHAND_CATEGORY -->
	
	<!-- 리테크 상품 목록 개수 조회작업(페이징) -->
	<select id="selectProductListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM
			product
	</select>
	
	<!--선택한 카테고리와 거래상태에 해당하는 상품리스트 가져오기  -->
	<select id="selectSelectedProductList" resultType="product">
		SELECT *
		FROM product
		WHERE
			pd_category = #{pd_category}
			and pd_status = #{pd_status}
	</select>
	<!-- 상품 목록 정렬 변경 시 변경된 정렬로 목록 조회 작업 selectChangedProductList -->
	<select id="selectChangedProductList">
		SELECT *
		FROM product
		WHERE 
	</select>
	
</mapper>




