<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.itwillbs.retech_proj.mapper.StoreMapper">
    	<select id="selectProductList" resultType="map">
    		SELECT *
    		FROM store
    		WHERE store_category = #{store_category}
    	
    	</select>

    
    		<!-- 상품상세조회 -->
    <select id="selectProduct" resultType="map">
    	SELECT *
    	FROM store
    	WHERE store_idx = #{store_idx}
    </select>
    
    		<!-- 상품상세조회2 -->
    <select id="selectStore" resultType="map">
    	SELECT *
    	FROM store
    	WHERE store_idx = #{store_idx}
    </select>
    
    <!-- 결제상품조회 -->
    <select id="selectPayProduct" resultType="map">
    	SELECT *
    	FROM order_store
    
    </select>
    <!-- 
    <insert id="insertPayProduct">
    	INSERT INTO order_store
    	VALUES (
    		null
    		, #{order_store_item}
    		, 'test123@naver.com'
    		, now()
    		, #{order_store_quantity}
    		, #{order_store_pay}
    		)
    </insert>
     -->
     
     <!-- 상품 결제 정보 저장하기 -->
     <insert id="insertStorePay">
     	INSERT INTO order_store
     	VALUES (
     		null
     		, #{order_store_item}
     		, #{order_store_member_id}
     		, now()
     		, #{order_store_quantity}
     		, #{order_store_pay}
     		, #{payment}
     	)
     </insert>
     
     <!-- 주문한 스토어 내역 조회하기 -->
     <select id="selectStoreHistory" resultType="map">
     	SELECT *
     	FROM store s JOIN order_store o
     	ON s.store_idx = o.order_store_item
     	WHERE o.order_store_member_id = #{id}
     </select>
    
    </mapper>