<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.itwillbs.retech_proj.vo.MemberVO" alias="member"/>
		<typeAlias type="com.itwillbs.retech_proj.vo.BankToken" alias="bankToken"/>
		<typeAlias type="com.itwillbs.retech_proj.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.itwillbs.retech_proj.vo.FaqVO" alias="faq"/>
		<typeAlias type="com.itwillbs.retech_proj.vo.CsVO" alias="cs"/>
		<typeAlias type="com.itwillbs.retech_proj.vo.ProductVO" alias="product"/>
		<typeAlias type="com.itwillbs.retech_proj.vo.ChatRoom" alias="chatRoom"/>
	</typeAliases>
</configuration>